<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="refresh" content="1" />
    <title>Rireping</title>
  </head>
  <body>
    <div>
      <embed
        id="ping"
        type="image/svg+xml"
        src="{{ping_chart_data|safe}}"
        style="max-width: 1000px"
      />
    </div>
  </body>
</html>

<script>
  jQuery(document).ready(function ($) {
    $("ping").attr("src", "{{ping_chart_data|safe}}");
    setTimeout(10);
  });
</script>
